@import "./variables";

.home-form {
  width: 35rem;
  flex-shrink: 1;
  position: relative;

  &__btn {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    transform: translateY(-50%);
    background: 0;
    border: 0;
    cursor: pointer;
    color: $text-light-2;
    font-size: 2rem;

    &--search {
      left: 1rem;
    }
    &--close {
      right: 1rem;
    }
  }
}
