@import "./variables";

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: -0.4rem;
  padding: 0.5rem;
  border-radius: $radius-big;
  font-size: 1.3rem;
  text-transform: capitalize;

  &--danger {
    color: $error;
    border: 0.1rem solid $error;
  }

  &--succes {
    color: $succes;
    border: 0.1rem solid $succes;
  }

  &--general {
    color: $text-light;
    border: 0.1rem solid $gray-border;
  }
}
